<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppThinning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>574DD19E1BB9D16300C4B028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>574DD1B21BB9D16300C4B028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>574DD1BD1BB9D16300C4B028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
